USE [master]
GO
/****** Object:  Database [QL_VATLIEUXAYDUNG]    Script Date: 11/28/2019 8:54:08 PM ******/
CREATE DATABASE [QL_VATLIEUXAYDUNG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_VATLIEUXAYDUNG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_VATLIEUXAYDUNG.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_VATLIEUXAYDUNG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_VATLIEUXAYDUNG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_VATLIEUXAYDUNG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_VATLIEUXAYDUNG]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [char](10) NOT NULL,
	[MAVT] [char](10) NOT NULL,
	[DONGIABAN] [float] NULL,
	[SLBAN] [int] NULL,
	[DVT] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETNHAP]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETNHAP](
	[MAPN] [char](10) NOT NULL,
	[MAVT] [char](10) NOT NULL,
	[DONGIANHAP] [float] NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETNHAP_1] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[NGAYHD] [date] NULL,
	[TINHTRANGHD] [nvarchar](50) NULL,
	[MAKH] [char](10) NULL,
	[MANV] [char](10) NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MAVT] [char](10) NOT NULL,
	[TONGSOLUONG] [int] NULL,
	[SLNHAP] [int] NULL,
	[SLBAN] [int] NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIVT]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIVT](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIVT] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [char](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [nchar](10) NULL,
	[FAX] [nchar](15) NULL,
	[EMAIL] [nchar](100) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [char](10) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[MANCC] [char](10) NULL,
	[THANHTIEN] [float] NULL,
	[MANV] [char](10) NULL,
 CONSTRAINT [PK_PHIEUNHAP_1] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [char](10) NOT NULL,
	[TENTK] [nchar](20) NULL,
	[MK] [nchar](20) NULL,
	[QUYEN] [nchar](10) NULL,
	[MANV] [char](10) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [char](10) NOT NULL,
	[TENVT] [nvarchar](50) NULL,
	[DVT] [nvarchar](50) NULL,
	[MALOAI] [char](10) NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[DOANHTHU]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DOANHTHU]
AS
	SELECT HOADON.MAHD,NHANVIEN.TENNV,VATTU.TENVT,HOADON.NGAYHD,CHITIETHOADON.SLBAN,VATTU.DONGIA,CHITIETHOADON.DVT,CHITIETHOADON.SLBAN*VATTU.DONGIA TongTien
        FROM HOADON INNER JOIN CHITIETHOADON ON HOADON.MAHD=CHITIETHOADON.MAHD
        INNER JOIN VATTU ON VATTU.MAVT=CHITIETHOADON.MAVT
        INNER JOIN NHANVIEN ON NHANVIEN.MANV=HOADON.MANV




GO
/****** Object:  View [dbo].[TONGTIEN]    Script Date: 11/28/2019 8:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TONGTIEN]
AS
	SELECT SUM(TongTien) TONG FROM DOANHTHU




GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MAVT], [DONGIABAN], [SLBAN], [DVT]) VALUES (N'HD00000001', N'VT00000001', 264000, 5, N'Khối')
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MAVT], [DONGIABAN], [SLBAN], [DVT]) VALUES (N'HD00000001', N'VT00000004', 297000, 5, N'Khối')
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MAVT], [DONGIABAN], [SLBAN], [DVT]) VALUES (N'HD00000001', N'VT00000008', 11039, 10, N'1 cây 11.7m')
INSERT [dbo].[CHITIETNHAP] ([MAPN], [MAVT], [DONGIANHAP], [SOLUONG], [DVT]) VALUES (N'PN00000001', N'VT00000001', 240000, 100, N'Khối')
INSERT [dbo].[CHITIETNHAP] ([MAPN], [MAVT], [DONGIANHAP], [SOLUONG], [DVT]) VALUES (N'PN00000001', N'VT00000002', 200000, 100, N'Khối')
INSERT [dbo].[CHITIETNHAP] ([MAPN], [MAVT], [DONGIANHAP], [SOLUONG], [DVT]) VALUES (N'PN00000001', N'VT00000003', 140000, 100, N'Khối')
INSERT [dbo].[HOADON] ([MAHD], [NGAYHD], [TINHTRANGHD], [MAKH], [MANV], [TONGTIEN]) VALUES (N'HD00000001', CAST(0x6E400B00 AS Date), N'ĐÃ THANH TOÁN', N'KH00000003', N'NV00000001', 3773390)
INSERT [dbo].[HOADON] ([MAHD], [NGAYHD], [TINHTRANGHD], [MAKH], [MANV], [TONGTIEN]) VALUES (N'HD00000002', CAST(0x6E400B00 AS Date), N'ĐÃ THANH TOÁN', N'KH00000003', N'NV00000001', 4302100)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT]) VALUES (N'KH00000001', N'TRẦN XUÂN LỰC', N'BÌNH DƯƠNG', N'0945667677')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT]) VALUES (N'KH00000002', N'NGUYỄN HỮU TRỌNG', N'LONG AN', N'0945787867')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT]) VALUES (N'KH00000003', N'NGUYỄN BẢO SANG', N'LONG AN', N'0945674567')
INSERT [dbo].[KHO] ([MAVT], [TONGSOLUONG], [SLNHAP], [SLBAN]) VALUES (N'VT00000001', 148, 150, 10)
INSERT [dbo].[KHO] ([MAVT], [TONGSOLUONG], [SLNHAP], [SLBAN]) VALUES (N'VT00000002', 150, 150, 0)
INSERT [dbo].[KHO] ([MAVT], [TONGSOLUONG], [SLNHAP], [SLBAN]) VALUES (N'VT00000003', 150, 150, 0)
INSERT [dbo].[LOAIVT] ([MALOAI], [TENLOAI]) VALUES (N'LOAI000001', N'Cát')
INSERT [dbo].[LOAIVT] ([MALOAI], [TENLOAI]) VALUES (N'LOAI000002', N'Đá')
INSERT [dbo].[LOAIVT] ([MALOAI], [TENLOAI]) VALUES (N'LOAI000004', N'Thép')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'NCC0000001', N'CÔNG TY A', N'TPHCM', N'0978689954', N'               ', N'CONGTYA@GMAIL.COM                                                                                   ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'NCC0000002', N'CÔNG TY B', N'CẦN THƠ', N'0987876756', N'0989876        ', N'CONGTYB@GMAIL.COM                                                                                   ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [EMAIL], [CHUCVU]) VALUES (N'NV00000001', N'HUỲNH NGỌC TRÍ', CAST(0xDB220B00 AS Date), N'Nam', N'GÒ DẦU - TÂY NINH', N'0967579921', N'huynhngoctri1999@gmail.com                        ', N'QUẢN LÝ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [EMAIL], [CHUCVU]) VALUES (N'NV00000002', N'NGUYỄN TẤN SỸ', CAST(0xB7200B00 AS Date), N'Nam', N'ĐẮC CƠ - GIA LAI', N'095678678 ', N'                                                  ', N'NHÂN VIÊN BÁN HÀNG')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [EMAIL], [CHUCVU]) VALUES (N'NV00000003', N'Trần Xuân Lực', CAST(0xE0220B00 AS Date), N'Nam', N'BÌNH DƯƠNG', N'0567856785', N'dhhuj                                             ', N'QUAN LY')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANCC], [THANHTIEN], [MANV]) VALUES (N'PN00000001', CAST(0x66400B00 AS Date), N'NCC0000001', 99739250, N'NV00000001')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANCC], [THANHTIEN], [MANV]) VALUES (N'PN00000002', CAST(0x6E400B00 AS Date), N'NCC0000001', 289317500, N'NV00000001')
INSERT [dbo].[TAIKHOAN] ([ID], [TENTK], [MK], [QUYEN], [MANV]) VALUES (N'ID_0000001', N'Admin               ', N'123                 ', N'Admin     ', N'NV00000001')
INSERT [dbo].[TAIKHOAN] ([ID], [TENTK], [MK], [QUYEN], [MANV]) VALUES (N'ID_0000002', N'tansy               ', N'123                 ', N'Member    ', N'NV00000002')
INSERT [dbo].[TAIKHOAN] ([ID], [TENTK], [MK], [QUYEN], [MANV]) VALUES (N'ID_0000003', N'TonyLuc             ', N'123                 ', N'Admin     ', N'NV00000003')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [MALOAI], [DONGIA]) VALUES (N'VT00000001', N'Cát Bê Tông Rửa Vàng', N'Khối', N'LOAI000001', 240000)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [MALOAI], [DONGIA]) VALUES (N'VT00000002', N'Cát Bê Tông Rửa Thường', N'Khối', N'LOAI000001', 200000)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [MALOAI], [DONGIA]) VALUES (N'VT00000003', N'Cát San Lấp', N'Khối', N'LOAI000001', 140000)
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_VATTU]
GO
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAP_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETNHAP] CHECK CONSTRAINT [FK_CHITIETNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAP_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
GO
ALTER TABLE [dbo].[CHITIETNHAP] CHECK CONSTRAINT [FK_CHITIETNHAP_VATTU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_TONKHO_VATTU]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD  CONSTRAINT [FK_VATTU_LOAIVT] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIVT] ([MALOAI])
GO
ALTER TABLE [dbo].[VATTU] CHECK CONSTRAINT [FK_VATTU_LOAIVT]
GO
USE [master]
GO
